@import url("menu.css");
@import url("blog-posts.css");
@import url("title.css");
@import url("subscribe.css");

body{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.bg-container-outer{
    margin: 25px auto;
    width: 90%;
    min-width: 400px;
    display: grid;
    grid-template-rows: 50px 500px auto;
}

/* .element{
    border: 1px solid red;
} */

#menu-item-1{
    background-color: burlywood;
}

.bg-header-outer{
    background-image: url("wines_main.jpg"); 
    width: 600px;
}

.menu-header-container{
    width: 600px;
}

@media(min-width: 1151px){
    .menu-header-container{
        width: 100%;
    }

    .bg-header-outer{
        width: 100%;
    }

    .bg-main{
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .bg-home-content{
        display: grid;
        grid-template-columns: 30vw 30vw;
        justify-content: center;
    }
}


.bg-main-content-col-1{
    max-width: 400px;
    margin-right: 20px;
}

.bg-main-content-col-2{
    max-width: 400px;
    margin-left: 20px;
}

.entry-meta{
    display: inline;
}

.bg-title a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #444444;   
}
