
.menu-header-container{
    vertical-align: middle;
    text-align: center;
    background-color: white;
    justify-content: stretch;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.menu-header{
    list-style: none;
}

.menu-item{
    display: inline;
    margin-left: 10px;
}
.menu-item a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    font-size: 16px;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu-item:hover{
    background-color: antiquewhite;
}