.bg-author-container{
    width: 95%;
    max-width: 600px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2);
    float: left;
    margin: auto;
}

.bg-author-header{
    color:#000;
    background-color:#f1f1f1;    
    font-size: 1rem;
    padding: 20px;
    padding-left: 30px;
}

.bg-author-container-inner{
    display: flex;
    margin: 50px;
}

.bg-author-avatar{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.bg-author-figure{
    display: block;
    min-width: 80px;
    margin: 20 auto;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    align-content: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.bg-author-description{
    font-size: 1rem;
    margin-left: 50px;
}

.bg-author-description dt{
    font-weight: 600;
    line-height: 2rem;
}